# theme = "gruvbox"
# theme = "onedark"
# theme = "chalkboard"
# theme = "fleet_dark"
# theme = "catppuccin_latte"
# theme = "dark_plus"
theme = "torvalds_minimal"

[editor]
line-number = "relative"
rulers = [80]
bufferline = "multiple"
auto-completion = false
# Minimum severity to show a diagnostic after the end of a line:
end-of-line-diagnostics = "disable"
gutters = ["diagnostics", "line-numbers", "spacer", "diff"]
auto-pairs = false                                          # auto-pair for brackets
idle-timeout = 0


[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name", "position-percentage"]
right = [
  "register",
  "workspace-diagnostics",
  "diagnostics",
  "position",
  "file-encoding",
  "file-line-ending",
  "file-type",
]
separator = "│"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"
diagnostics = ["warning", "error"]
workspace-diagnostics = ["warning", "error"]

[editor.inline-diagnostics]
# # Minimum severity to show a diagnostic on the primary cursor's line.
# # Note that `cursor-line` diagnostics are hidden in insert mode.
# cursor-line = "error"
# # Minimum severity to show a diagnostic on other lines:
# # other-lines = "error"
cursor-line = "disable"
other-lines = "disable"

[editor.whitespace.render]
space = "none"
tab = "all"
newline = "none"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.whitespace.characters]
# space = "·"
space = " "
nbsp = "⍽"
tab = "→"
newline = "⏎"
tabpad = "·"  # Tabs will look like "→···" (depending on tab width)

[keys.normal]
A-l = ":buffer-next"
A-h = ":buffer-previous"
A-w = ":buffer-close"
W = "move_next_sub_word_start"
B = "move_prev_sub_word_start"
E = "move_next_sub_word_end"
"A-j" = ["extend_to_line_bounds", "delete_selection", "paste_after"]
"A-k" = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
]
"esc" = ["normal_mode", ":write"] # For quick saving

[keys.insert]
"C-;" = "normal_mode"
C-backspace = "delete_word_backward"
# Windows-like movement (again)
C-left = ["move_prev_word_start", "move_char_left", "move_char_right"]
C-right = ["move_next_word_start", "move_char_left", "move_char_right"]

[keys.select]
"C-;" = "normal_mode"
W = "move_next_sub_word_start"
B = "move_prev_sub_word_start"
E = "move_next_sub_word_end"
"A-j" = ["extend_to_line_bounds", "delete_selection", "paste_after"]
"A-k" = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
]
"C-c" = "collapse_selection"

[editor.file-picker]
hidden = false

[editor.lsp]
display-inlay-hints = false

[editor.indent-guides]
render = true
character = "▏" # Some characters that work well: "▏", "┆", "┊", "⸽"

[editor.soft-wrap]
enable = true

[keys.normal.space]
i = ":format"
o = [
  # ":sh rm -f /tmp/unique-file-h21a434",
  ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
  # ":insert-output echo \"x1b[?1049h\" > /dev/tty",
  # ":open %sh{cat /tmp/unique-file-h21a434}",
  ":redraw",
]
"F1" = ":config-open"
"F2" = ":config-reload"
"F3" = ":lsp-restart"
"F4" = ":redraw"
"space" = { "space" = "keep_primary_selection", "q" = ":buffer-close!" }
